#wrap {
  width: 85%;
  margin: 0 auto;
}

body {
  background-color: #1e2135;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  color: #d9dce8;
}

.bout {
  background-color: #151727;
  font-weight: bold;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}

.bout a {
  background: #2c1f49;
  border: 2px solid #ff3d9f;
  color: #d9dce8;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  padding: 8px 20px;
  margin-right: 100px;
  font-family: "Robocode", sans-serif;
  font-weight: 600;
  box-shadow: 2px 2px 0 #ff3d9f;
}

.bout a:hover {
  color: #1e2135;
  background-color: #ff3d9f;
  border-radius: 25px;
  box-shadow: 1px 1px 0 #ff3d9f;
}

#texte_image {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 0px;
  background-color: #151727;
  color: #d9dce8;
}

.ti_image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.ti_image {
  width: 38%;
  text-align: center;
}

.ti_texte {
  width: 60%;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}

.texte_cv {
  display: flex;
  font-family: "Robocode", sans-serif;
  justify-content: center;
  margin-top: 50px;
}

.texte_cv img {
  width: 50px;
  height: auto;
  padding-right: 15px;
}

@font-face {
  font-family: "Corptic Demo";
  src: url("./font/CorpticdemoRegular-Yqrp4.otf") format("opentype");
}
@font-face {
  font-family: "Robocode";
  src: url("./font/Robocode-ov3vx.ttf") format("truetype");
}

.texte1 {
  width: 100%;
  font-family: "Corptic Demo", sans-serif;
  margin-top: 40px;
}

.texte_modif {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff3d9f;
  padding: 5px 10px;
  border-radius: 25px;
}

#Présentation {
  background-color: #2a2f4a;
  padding-bottom: 40px;
  padding-top: 20px;
}

#Présentation h2 {
  margin-top: 0;
  font-family: "Corptic Demo", sans-serif;
  text-align: center;
  color: #c032f5;
  font-size: 4em;
  padding-top: 20px;
  letter-spacing: 3px;
}

.paragraphe {
  font-family: "Robocode", sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 20px 20px;
}

#Projets {
  background-color: #1e2135;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

#Projets h2 {
  color: #c032f5;
  font-size: 4em;
  margin-top: 0;
  padding-top: 20px;
  font-family: "Corptic Demo", sans-serif;
  letter-spacing: 3px;
}

.exemple {
  display: flex;
  flex-direction: column;
}

.exemple img {
  width: 80%;
}

#liste_projet {
  display: flex;
  height: 525px;
  justify-content: center;
}

.exemple a {
  text-decoration: none;
  font-family: "Robocode", sans-serif;
  color: #ff3d9f;
}

.exemple p {
  font-family: "Robocode", sans-serif;
}

.exemple img {
  border-radius: 70px;
  margin-left: auto;
  margin-right: auto;
}

.push {
  background: #2c1f49;
  border: 2px solid #ff3d9f;
  border-radius: 25px;
  box-shadow: 4px 4px 0 #ff3d9f;
  cursor: pointer;
  height: 60px;
  width: 150px;
  line-height: 60px;
  text-align: center;
  padding: 0 25px;
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.push:hover {
  background: #ff3d9f;
  color: #1e2135;
}

.push:active {
  box-shadow: 2px 2px 0 #ff3d9f;
  transform: translate(2px, 2px);
}

#Contact {
  text-align: left;
  background: linear-gradient(to bottom, #1e2135 0%, #151727 100%);
  padding-top: 20px;
}

#Contact h2 {
  color: #c032f5;
  font-size: 4em;
  margin-top: 0;
  padding-top: 20px;
  font-family: "Corptic Demo", sans-serif;
  letter-spacing: 3px;
  text-align: center;
}
#ContactMEP {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 50px 50px;
  font-family: "Robocode", sans-serif;
}

#Liens {
  width: 55%;
}

#formulaire {
  width: 40%;
  padding: 20px;
  background-color: #2a2f4a;
  border-radius: 10px;
}

#largeur1 {
  display: flex;
  padding-left: 50px;
}

#largeur2 {
  display: flex;
  padding-left: 50px;
}

.mejoindre {
  display: flex;
  width: 200px;
  align-items: center;
  padding-right: 200px;
  padding-bottom: 30px;
}

.logo {
  margin-right: 15px;
}

.logo img {
  width: 50px;
  height: auto;
}

.textelogo {
  font-family: "Robocode", sans-serif;
}

p {
  font-size: 1.5em;
}

#formulaire {
  width: 40%;
  padding: 20px;
  background-color: #2a2f4a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formu_nom,
.formu_mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#formulaire input[type="text"],
#formulaire input[type="email"],
#formulaire textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ff3d9f;
  border-radius: 5px;
  background-color: #1e2135;
  color: #d9dce8;
}

.formu_mess {
  display: flex;
  flex-direction: column;
}

#formulaire textarea {
  height: 100px;
  width: auto;
  margin-top: 10px;
}

.envoi {
  background: #1e2135;
  border-color: #ff3d9f;
  color: #d9dce8;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.envoi:hover {
  background-color: #ff3d9f;
  border: 3px solid #1e2135;
}
